{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <! CSS —>
    <link rel='stylesheet' href="{% static 'IMG/CSS-FOR-ALL.css' %}">

    <! WEB TITLE —>
    <title>Registration-Page</title>

</head>
<body>

<DIV CLASS = "CONTEINER-RP">
    <IMG ID = "IMG-LOGO" SRC = "{% static 'IMG/OdynXBET-logo.png' %}">


    <DIV CLASS = "FORM-GROUP-2">
        <LABEL CLASS = "FORM-GROUP-2-LABEL" FOR = "USERNAME">Username:</LABEL>
        <INPUT CLASS = "FORM-GROUP-2-INPUT" TYPE = "TEXT" ID = "USERNAME" NAME = "USERNAME" REQUIRED PLACEHOLDER = "AltynbekOV04">

        <DIV CLASS = "error-message" ID = "USERNAME-error"></DIV>
        <DIV CLASS = "correct-message" ID = "USERNAME-correct"></DIV>
    </DIV>


    <DIV CLASS = "FORM-GROUP-2">
        <LABEL CLASS = "FORM-GROUP-2-LABEL" FOR = "PASSWORD">Password:</LABEL>
        <INPUT CLASS = "FORM-GROUP-2-INPUT" TYPE = "PASSWORD" ID = "PASSWORD" NAME = "PASSWORD" REQUIRED PLACEHOLDER = "Qwerty12345">

        <DIV CLASS = "error-message" ID = "PASSWORD-error"></DIV>
        <DIV CLASS = "correct-message" ID = "PASSWORD-correct"></DIV>
    </DIV>


    <DIV CLASS = "FORM-GROUP-2">
        <BUTTON CLASS = "FORM-GROUP-2-BUTTON" TYPE = "BUTTON" ONCLICK = "registerUser()">Register</BUTTON>
    </DIV>


    <div class="SEPARATOR"></div>
    <a class="LINK-LOGIN" href="{% url 'login' %}">Login</a>
</DIV>



<script src="{% static 'IMG/JS-FOR-ALL.js' %}"></script>

</body>
</html>
