<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center><h1>yopt</h1></center>
        <div class="container">
            <ul><a href="">Home</a></ul>
            <ul><a href="/about">About</a></ul>
            <ul><a href="/contact">Contact</a></ul>
        </div>
    </body>
</html>