{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключаем CSS файл Bootstrap и CSS -->
    <link href= "{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">  
    <link href= "{% static 'IMG/Need-File-CSS.CSS' %}" rel="stylesheet">
    <!-- Подключаем Google Fonts и Icons-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Подключаем файлы JavaScript для некоторых компонентов и интерактивности -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <title>Login-Page</title>
</head>
<body>
    
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
    
      <div class="container-md d-flex bg-dark justify-content-center align-items-center flex-column container-login">
        <h2 class="Google-Font-Oswald">Four-Zero-Four</h2>
    
        <!-- login.html -->
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password }}
            </div>
            {% if form.non_field_errors %}
            <div class="alert alert-danger small-alert">
                <svg class="bi flex-shrink-0 me-2" width="20" height="20" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
            <button type="submit" class="btn btn-primary" style="width: 200px; height: 40px;">Login</button>
        </form>

        <style>
            .small-alert {
                padding: 0.3rem; /* Adjust the padding as needed */
                font-size: 0.7em; /* Adjust the font size as needed */
            }
        </style>
    
        <div class="SEPARATOR"></div> <!-- Разделитель -->
        
        <a class="LINK-REGISTER" href="{% url 'registration' %}">Register</a>
    </div>
    
</body>

<script>
    window.onload = function() {
        if(typeof window.history.pushState == 'function') {
            window.history.pushState({}, "Hide", '{{request.path}}');
        }
        window.onpopstate = function(){
            window.location.reload();
        }
    }
</script>
</html>