html {
    font-size: 16px;
}
:root{
    --SC-RED:#ff0000;
    --SC-DARK:#000000;
    --SC-WHITE:#ff5100;
    --SC-ORANGE:#ff7300;
    --SC-YELLOW:#f6ff00;
    --SC-DARK-BROWN-WM-INTENSITY:#35000a;
    --SC-DARK-BROWN-WL-INTENSITY:#160004;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--SC-DARK);
}
.CONTEINER-LP, .CONTEINER-RP{
    width: 18.75rem;
    padding: 1.25rem;
    text-align: center;
    border: 0.17rem solid var(--SC-WHITE);
    border-radius: 2.5rem;
    box-shadow: 0 0 1.25rem var(--SC-RED);
    background-color: var(--SC-DARK-BROWN-WL-INTENSITY);
}
#IMG-LOGO{
    width: 12.5rem;
    height: 6.25rem;
    margin: 1.25rem;
    filter: drop-shadow(0 0 0.225rem var(--SC-RED));
}
.FORM-GROUP-1, .FORM-GROUP-2{
    margin-bottom: 0.9375rem;
    text-align: left;
}
.FORM-GROUP-1-LABEL, .FORM-GROUP-2-LABEL{
    display: block;
    margin-bottom: 0.4125rem;
    text-shadow: var(--SC-RED) 0 0 0.9375rem;
    color: var(--SC-RED);
}
.FORM-GROUP-1-INPUT, .FORM-GROUP-2-INPUT{
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.17rem solid var(--SC-RED);
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -khtml-border-radius: 0.625rem;
    box-shadow: 0 0 0.5rem var(--SC-RED);
    background: var(--SC-DARK);
    background-color: var(--SC-DARK-BROWN-WL-INTENSITY);
    outline: none;
    height: 2.5rem;
    width: 100%;
    color: var(--SC-RED);
    font-size: 1rem;
}
.FORM-GROUP-1-INPUT:hover, .FORM-GROUP-2-INPUT:hover{
    color: var(--SC-WHITE);
    border: 0.17rem solid var(--SC-WHITE);
}
.FORM-GROUP-1-INPUT:focus, .FORM-GROUP-2-INPUT:focus{
    color: var(--SC-WHITE);
    border: 0.17rem solid var(--SC-WHITE);
}
.FORM-GROUP-1-INPUT::PLACEHOLDER, .FORM-GROUP-2-INPUT::PLACEHOLDER{
    color: var(--SC-RED);
    opacity: 0.5;
}
.FORM-GROUP-1-INPUT::-MS-INPUT-PLACEHOLDER, .FORM-GROUP-2-INPUT::-MS-INPUT-PLACEHOLDER{
    color: var(--SC-RED);
}
.FORM-GROUP-1-BUTTON, .FORM-GROUP-2-BUTTON{
    padding: 0.5rem;
    box-sizing: border-box;
    border: 0.17rem solid var(--SC-RED);
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -khtml-border-radius: 0.625rem;
    background: var(--SC-DARK-BROWN-WM-INTENSITY);
    outline: none;
    height: 2.5rem;
    width: 100%;
    color: var(--SC-WHITE);
    font-size: 1rem;
    box-shadow: 0 0 0.5rem var(--SC-RED);
    opacity: 1;
    cursor: pointer;
    margin-bottom: 0.625rem;
}
.FORM-GROUP-2-BUTTON{
    margin-top: 1.5rem;
}
.FORM-GROUP-1-BUTTON:hover, .FORM-GROUP-2-BUTTON:hover{
    border: 0.17rem solid var(--SC-WHITE);
    background: var(--SC-RED);
    box-shadow: 0 0 0.5rem var(--SC-RED);
    opacity: 1;
}
.SEPARATOR {
    margin: 0.9375rem 0;
    border-bottom: 0.125rem solid var(--SC-WHITE);
    position: relative;
}
.LINK-REGISTER, .LINK-FORGOT-PASSWORD, .LINK-LOGIN{
    color: var(--SC-WHITE);
    text-decoration: none;
    display: block;
    margin-top: 0.625rem;
    font-size: 0.7rem;
}
.LINK-FORGOT-PASSWORD {
    text-align: right;
}
.error-message {
    color: #ee8181;
    margin-top: 5px;
    font-size: 0.7rem;
}
.correct-message {
    color: #88ee81;
    margin-top: 5px;
    font-size: 0.7rem;
}
.I_NIGHT_I {
    animation: I_NIGHT_I 0.3s;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content label {
    display: block;
    padding: 10px 20px;
  }
  
  .dropdown-content input[type="radio"] {
    margin-right: 10px;
  }
  
  .dropdown-content input[type="radio"]:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }

@keyframes I_NIGHT_I {
    0% {
        transform: translateX(0) translateY(0);
        background-color: var(--SC-RED);
    }
    12.5% {
        transform: translateX(30px) translateY(30px);
        background-color: var(--SC-ORANGE);
    }
    25% {
        transform: translateX(-30px) translateY(-30px);
        background-color: var(--SC-YELLOW);
    }
    37.5% {
        transform: translateX(0px) translateY(0px);
        background-color: var(--SC-RED);
    }
    50% {
        transform: translateX(-30px) translateY(30px);
        background-color: var(--SC-ORANGE);
    }
    62.5% {
        transform: translateX(30px) translateY(-30px);
        background-color: var(--SC-YELLOW);
    }
    75% {
        transform: translateX(0px) translateY(0px);
        background-color: var(--SC-RED);
    }
    87.5% {
        transform: translateX(30px) translateY(30px);
        background-color: var(--SC-ORANGE);
    }
    100% {
        transform: translateX(0px) translateY(0px);
        background-color: var(--SC-YELLOW);
    }
}